@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal;
}

.logo-header {
    font-size: 32px;
}

.text-role > a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    color: #363636;
}

.main-content {
    margin-top: 24px;
}

.headline-text {
    margin-bottom: 48px;
}

.headline-text-content {
    font-size: 32px;
}

.form-content {
    border-radius: 24px !important;
    padding: 72px 46px 46px 24px;
}

.text-email, .text-password, .text-confirm-password {
    font-size: 16px;
    color: #363636;
    margin-bottom: 24px;
}

input.form-control {
    border: 2px solid #003366;
    border-radius: 8px;
}

.register-login {
    padding: 12px 0px;
    margin-top: 24px;
    background-color: #003366;
    text-decoration: none;
}

.register-login:hover, .register-login:focus {
    background-color: #002244;
}

.divider {
    font-size: 14px;
    color: #363636;
}

.divider hr {
    border: none;
    height: 1px;
    background-color: #363636;
    margin: 0px 24px;
}

.google-button, .google-button:hover, .google-button:focus {
    color: #363636;
    padding: 12px 0px;
    border: 2px solid #003366;
    gap: 8px;
}

.register-login-bottom-text {
    margin-top: 24px;
    gap: 2px;
}

.register-login-bottom-text p{
    font-size: 14px;
    color: #363636;
}

.register-login-bottom-text > a{
    font-size: 14px;
    color: #000000;
    text-decoration: underline;
}

.profile-text {
    font-size: 36px;
    font-weight: 600;
    color: #363636;
    margin-bottom: 24px;
}

.profile-card {
    border-radius: 24px;
    padding: 12px 12px 24px;
}

.profile-header {
    background-color: #003366;
    padding: 16px;
    border-radius: 24px;
}

.highlight-name {
    font-size: 32px;
    margin: 0;
    text-align: center;
}

.contact-box span {
    font-size: 16px;
}

.personal-information {
    margin: 0px 36px;
}

.text-secondary {
    font-size: 16px;
    color: #363636 !important;
}
